
<!DOCTYPE html>
<html ng-app>
<head>
	<meta charset="utf-8" />
	<title>¡MIXTAPE!</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
</head>
<body ng-controller:"playlistController">
	<h1>¡MIXTAPE!</h1>

	<div class="player"></div>

	<div class="playlist">
		<input type="text" ng-model="title" placeholder="Playlist name">
		<h2>{{ title }}</h2>
		<ul>
			<li ng-repeat="track in tracks">
		</ul>
	</div>

	<div class="search"></div>
		<form ng-submit="addTrack()">
			Artist:<input type="text" ng-model="artist"><br>
			Song:<input type="text" ng-model="song">
			<input type="submit" value="add" />
		</form>
    <script src="/app.js"></script>
</body>
</html>















<!--The following is only if I get to putting in the SoundCloud Widget

     <script type="text/javascript" charset="utf-8" src="../scripts/soundcloud.player.api.js"></script>
    <script type="text/javascript">
     soundcloud.addEventListener('onPlayerReady', function(player, data) {
       player.api_play();
     });
	</script> -->
<!-- 

Maybe how to use the player Widget. Moving forward without it for now.

	<script src="//connect.soundcloud.com/sdk-2.0.0.js"></script>
	<object height="81" width="100%" id="yourPlayerId" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000">
  <param name="movie" value="http://player.soundcloud.com/player.swf?url=http%3A%2F%2Fsoundcloud.com%2Fmatas%2Fhobnotropic&enable_api=true&object_id=yourPlayerId"></param>
  <param name="allowscriptaccess" value="always"></param>
  <embed allowscriptaccess="always" height="81" src="http://player.soundcloud.com/player.swf?url=http%3A%2F%2Fsoundcloud.com%2Fmatas%2Fhobnotropic&enable_api=true&object_id=yourPlayerId" type="application/x-shockwave-flash" width="100%" name="yourPlayerId"></embed>
	</object> -->

	<!--<script>
	//   SC.initialize({
	//     client_id: "0e43e893359fed215845522dc5893aca",
	//     // redirect_uri: "http://example.com/callback",
	//   });

	//   SC.stream("/tracks/293", function(sound){
	// 	  sound.play();
	//    });
	// </script> -->